/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Utilites */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 25px;
    border-radius: 5px;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 25px;
}

/* top players css */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
}
.player-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs css */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 25px;
}
.blog-items{
    display: flex;
    align-items: flex-end;
}
.blogs .thumbnail img{
    width:177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.author-name{
    color: #9f9f9f;

}
.author-name a{
    text-decoration: none;
    font-size: 16px;
}

/* Latest course css */
.course-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
}
.course{
    padding: 15px;
    box-shadow: 1px 1px 10px #efe9e9;
    border-radius: 5px;
}
.course-banner img{
    width: 245px;
    height: 125px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #aeaeae;
}
.course-duration {
	background-color: antiquewhite;
	padding: 7px 12px;
	font-size: 14px;
	border-radius: 20px;
	color: #ff5200;
}